/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* ROOT VARIABLE (IMPORTANT FOR LAYOUT) */
:root {
  --navbar-height: 70px;
}

/* SCROLL FIX — must be here to override Tailwind base */
html,
body {
  height: auto !important;
  min-height: 100vh;
  overflow: visible !important;
}

#root {
  height: auto !important;
  min-height: 100vh;
  overflow: visible !important;
}

/* BODY */
body {
  background: #f5f7fb;
  color: #222;
}

/* MAIN CONTENT */
.main-content {
  margin-left: 110px;
  margin-top: var(--navbar-height);
  padding: 20px;
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}

/* COMMON HEADINGS */
h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 14px;
}
input[type="text"] {
  border-radius: 50px !important;
  padding-left: 38px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-size: 12px !important;
}
