/* LARGE LAPTOP */

@media (max-width:1400px){

.kpi-grid{
grid-template-columns:repeat(3,1fr);
}

.wbs-grid{
grid-template-columns:repeat(3,1fr);
}

}

/* LAPTOP */

@media (max-width:1100px){

.kpi-grid{
grid-template-columns:repeat(2,1fr);
}

.analytics-grid{
grid-template-columns:1fr;
}

.wbs-grid{
grid-template-columns:repeat(2,1fr);
}

}

/* TABLET */

@media (max-width:768px){

.dashboard-container{
padding:20px;
}

.kpi-grid{
grid-template-columns:1fr 1fr;
}

.module-grid{
grid-template-columns:1fr 1fr;
}

.project-table{
overflow-x:auto;
}

}

/* MOBILE */

@media (max-width:480px){

.dashboard-header h1{
font-size:20px;
}

.kpi-grid{
grid-template-columns:1fr;
}

.wbs-grid{
grid-template-columns:1fr;
}

.module-grid{
grid-template-columns:1fr;
}

}

@media (max-width: 768px) {

  .hr-layout {
    flex-direction: column;
  }

  .hr-sidebar {
    width: 100%;
    min-height: auto;
  }

  .hr-content {
    padding: 10px;
  }

}