.hr-sidebar{
width:230px;
height:100vh;
background:#1e293b;
color:white;
position:fixed;
left:0;
top:0;
padding-top:20px;
}

.sidebar-header{
padding:20px;
font-size:20px;
font-weight:600;
border-bottom:1px solid rgba(255,255,255,0.1);
}

.hr-sidebar ul{
list-style:none;
padding:0;
margin:0;
}

.sidebar-item{
padding:14px 22px;
cursor:pointer;
font-size:14px;
transition:0.2s;
}

.sidebar-item:hover{
background:#334155;
}

.sidebar-item.active{
background:#3b82f6;
}

/* RESPONSIVE */

@media(max-width:768px){

.hr-sidebar{
width:70px;
}

.sidebar-header{
display:none;
}

.sidebar-item{
font-size:12px;
padding:12px;
}

}